{% extends 'vision_park/base.html' %}

{% block title %}
Ace of Base
{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-3 text-center">
    <h2>ACE OF BASE</h2>

    {% for message in messages %}
        <h3 class="justify-content-center" style="margin-left: 0px; margin-bottom: 30px"> {{ message }}</h3>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="quote" style="margin-top: 30px; text-align: center;" itemscope="" itemtype="http://schema.org/CreativeWork" >
        <h3>Welcome {{ request.user }} in Vision Park!</h3>
    </div>
    {% else %}
    <div class="quote" style="margin-top: 30px; text-align: center;" itemscope="" itemtype="http://schema.org/CreativeWork">
        <h3>Welcome!</h3>
        <h4>To start using <b>Vision Parking</b>, You must log in to your account!</h4>
    </div>
    {% endif %}

    <img style="margin-top: 30px;" src="{% static 'vision_park/logo-compressed1.jpg' %}" alt="Main Logo" class="rounded-logo">
</div>

{% endblock %}