{% extends "vision_park/base.html" %}

{% block title %}
Recognize
{% endblock %}

{% block content %}
{% load static %}
<div class="container">

    <div class="row justify-content-center" style="margin-top: 50px;">
        <div class="col-md-6 d-flex align-items-center">
            <a href="{% url 'recognize:upload_in' %}" class="btn btn-lg btn-block">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{% static 'img/logo-compressed2.jpg' %}" alt="Placeholder image"/>
                        </figure>

                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-3">Upload photo of car for enter</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 d-flex align-items-center">
            <div class="card-body mx-auto text-center">
                <a href="{% url 'recognize:session_view' %}" class="btn btn-lg btn-block">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{% static 'img/logo-compressed3.jpg' %}" alt="Placeholder image"/>
                            </figure>

                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-3">Upload photo of car for exit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
