{% extends "vision_park/base.html" %}
{% block title %}
Car For Enter
{% endblock %}

{% block content %}

{% if user.is_superuser %}
<h2 class="title is-2">Upload photo of car for enter</h2>
<form method="post" enctype="multipart/form-data" style="margin-top: 30px; margin-left: 20px;">
  {% csrf_token %}
 {{ form.as_p }}
  <p>{{ form.photo.label_tag }} {{ form.photo }}</p>
  <div class="field is-grouped" style="margin-top: 20px">
    <div class="control">
      <button class="button is-link" style="background: #125C13" type="submit">Submit</button>
    </div>
    <div class="control">
      <a class="button is-link is-light" style="background: #d9e7ce; color: #333333" href="{% url 'recognize:main' %}"
         class="btn btn-primary">Back</a>
    </div>
  </div>
</form>

{% else %}
<div class="p-2 bg-danger text-white">Recognize denied</div>
{% endif %}

{% endblock content %}
