{% extends "vision_park/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<h2>Payment preview</h2>

<p>Номерной знак: {{ session.car }}</p>
<p>Тариф: {{ session.tarif.name }}</p>
<p>Стоимость: {{ total_cost|floatformat:2 }}</p>

<form method="post" action="{% url 'finance:payment_preview' session.id %}">
    {% csrf_token %}
    <input class="btn btn-primary" type="hidden" name="total_cost" value="{{ total_cost }}">
    <button type="submit" name="confirm">Подтверждаю</button>
    <a href="{% url 'finance:payments_user' %}" class="btn btn-primary">Back</a>
</form>
{% for message in messages %}
<h3 class="justify-content-center" style="margin-left: 0px; margin-bottom: 30px"> {{ message }}</h3>
{% endfor %}

{% else %}
<div class="p-2 bg-danger text-white">Viewing is not possible</div>
{% endif %}

{% endblock content %}
