{% extends "vision_park/base.html" %}
{% block content %}

{% if user.is_superuser %}

<h2>Add New Tariff</h2>

<form method="post" action="{% url 'finance:tariff_add' %}">
    {% csrf_token %}
    <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </p>
    <p>
        <label for="free_period">Free Period (minutes):</label>
        <input type="number" id="free_period" name="free_period" required>
    </p>
    <p>
        <label for="cost_per_hour">Cost Per Hour:</label>
        <input type="number" id="cost_per_hour" name="cost_per_hour" step="0.25" required>
    </p>
    <p>
        <button class="btn btn-warning" type="submit">Create Tariff</button>
        <a href="{% url 'finance:tariffs' %}" class="btn btn-primary">Back</a>
    </p>
</form>

{% else %}
<div class="p-2 bg-danger text-white">Viewing is not possible</div>
{% endif %}

{% for message in messages %}
<h3 class="justify-content-center" style="margin-left: 0px; margin-bottom: 30px"> {{ message }}</h3>
{% endfor %}

{% endblock content %}
